<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Karttagalleria</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
        <link th:href="@{/css/main.css}" rel="stylesheet"/>

    </head>
    <body>

        <footer th:fragment="footer">
            <hr></hr>
            &copy; 2016 Tero Tuomala
            <div class="userInfo">
                <span class="glyphicon glyphicon-user"></span>
                <b><span sec:authentication="name"></span></b>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
