<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Karttagalleria</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
        <link th:href="@{/css/main.css}" rel="stylesheet"/>

    </head>
    <body>

        <header th:replace="fragments/header :: header"></header>

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">YritysX
                        <small>kaikki YritysX:n karttasovellukset</small>
                    </h1>
                </div>

                <div class="col-md-4 gallery-item" th:each="map : ${maps}">
                    <div class="gallery-img-wrapper">
                        <a th:href="${map.url}"><img class="img-responsive" src="http://placehold.it/750x427?text=Tulossa" alt=""></img></a>
                    </div>
                    <a th:href="@{map/{mapId}(mapId=${map.id})}"><h3 th:text="${map.title}">title</h3></a>
                    <p th:text="${map.description}"></p>

                    <div class="form-group" sec:authorize="hasRole('ADMIN') or hasRole('ROLE_PUBLISHER')">
                        <form th:action="@{/map/delete/{mapId}(mapId=${map.id})}" th:method="DELETE">
                            <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
                            <a th:href="@{map/edit/{mapId}(mapId=${map.id})}" class="btn btn-warning" role="button"><span class="glyphicon glyphicon-pencil"></span></a>
                        </form>
                    </div>
                    <br/>
                </div>
            </div>
            <footer th:replace="fragments/footer :: footer"></footer>
        </div>
        

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
